<p>
  <strong>Nome:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @material.quantity %>
</p>

<%= link_to 'Editar', edit_material_path(@material) %> |
<%= link_to 'Voltar', materials_path %>
